<h1 class="text-center mt-4" >Edit category name</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class="text-center col-8 mb-3">
      <%= link_to '[Cancel and return to categories]', categories_path, class: "text-info" %>
    </div>
  </div>
</div>
